* text=auto !eol
preinstall_sample/ApplicationA/ApplicationA.7z -text
preinstall_sample/ApplicationA/SetupApplicationA.exe.dat -text
preinstall_sample/ApplicationA/setup.ini -text
preinstall_sample/ApplicationX_v5/ApplicationX_v5[!!-~]manual.docx -text
preinstall_sample/ApplicationX_v5/ApplicationX_v5_PlatformA.7z -text
preinstall_sample/ApplicationX_v5/ApplicationX_v5_PlatformB.7z -text
preinstall_sample/ApplicationX_v5/SetupApplicationX_v5_PlatformA.exe.dat -text
preinstall_sample/ApplicationX_v5/SetupApplicationX_v5_PlatformB.exe.dat -text
preinstall_sample/ApplicationX_v5/setup.ini -text
preinstall_sample/ApplicationX_v6/ApplicationX_v6[!!-~]manual.docx -text
preinstall_sample/ApplicationX_v6/ApplicationX_v6_PlatformC.7z -text
preinstall_sample/ApplicationX_v6/ApplicationX_v6_PlatformD.7z -text
preinstall_sample/ApplicationX_v6/SetupApplicationX_v6_PlatformC.exe.dat -text
preinstall_sample/ApplicationX_v6/SetupApplicationX_v6_PlatformD.exe.dat -text
preinstall_sample/ApplicationX_v6/setup.ini -text
preinstall_sample/ApplicationY/ApplicationY.7z -text
preinstall_sample/ApplicationY/SetupApplicationY.exe.dat -text
preinstall_sample/ApplicationY/setup.ini -text
preinstall_sample/Database/SetupDatabase_v1.exe -text
preinstall_sample/Database/SetupDatabase_v2.exe -text
preinstall_sample/MS[!!-~].NET[!!-~]Framework/Microsoft[!!-~].NET[!!-~]Framework[!!-~]3.5[!!-~]SP1.exe -text
preinstall_sample/MS[!!-~].NET[!!-~]Framework/dotNetFx40_Full_x86_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2008[!!-~]Redistributable/vcredist_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2008[!!-~]Redistributable/vcredist_x86.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2010[!!-~]Redistributable/vcredist_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2010[!!-~]Redistributable/vcredist_x86.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2012[!!-~]Redistributable/vcredist_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2012[!!-~]Redistributable/vcredist_x86.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2013[!!-~]Redistributable/vcredist_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2013[!!-~]Redistributable/vcredist_x86.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2015[!!-~]Redistributable/update3/vcredist_x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2015[!!-~]Redistributable/update3/vcredist_x86.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2015[!!-~]Redistributable/vc_redist.x64.exe -text
preinstall_sample/MS[!!-~]Redist/MSVC++2015[!!-~]Redistributable/vc_redist.x86.exe -text
preinstall_sample/MS[!!-~]Updates/Windows6.1-KBXXXXXXX-x64.msu -text
preinstall_sample/MS[!!-~]Updates/Windows6.1-KBXXXXXXX-x86.msu -text
preinstall_sample/MS[!!-~]Updates/Windows6.1-KBYYYYYYY-x64.msu -text
preinstall_sample/MS[!!-~]Updates/Windows6.1-KBYYYYYYY-x86.msu -text
preinstall_sample/MS[!!-~]Windows[!!-~]Installer[!!-~]3.1/WindowsInstaller-KB893803-v2-x86.exe -text
preinstall_sample/MS[!!-~]Windows[!!-~]Installer[!!-~]4.5/Windows6.0-KB942288-v2-x64.msu -text
preinstall_sample/MS[!!-~]Windows[!!-~]Installer[!!-~]4.5/Windows6.0-KB942288-v2-x86.msu -text
preinstall_sample/MS[!!-~]Windows[!!-~]Installer[!!-~]4.5/WindowsXP-KB942288-v3-x86.exe -text
preinstall_sample/MySoftware.reg -text
preinstall_sample/README_EN.txt -text
preinstall_sample/ScenarioU/ScenarioU_files_here.txt -text
preinstall_sample/ScenarioU/subdir_U/ScenarioU_subdir_U_files_here.txt -text
preinstall_sample/ScenarioV/ScenarioV_files_here.txt -text
preinstall_sample/ScenarioV/subdir_V/ScenarioV_subdir_V_files_here.txt -text
preinstall_sample/ScenarioW/ScenarioW_files_here.txt -text
preinstall_sample/ScenarioW/subdir_W/ScenarioW_subdir_W_files_here.txt -text
preinstall_sample/Tools/cecho.exe -text
preinstall_sample/changelog.txt -text
preinstall_sample/preinstall.bat -text
preinstall_sample/setup.exe.dat -text
preinstall_sample/setup.ini -text
